@font-face {
	font-family: 'Jost'; 
	src: url(./fonts/Jost.ttf); 
}

@font-face {
	font-family: 'PT-Root'; 
	src: url(./fonts/PT-Root-UI_Light.woff); 
}

body {
    background-color: #4A9691;
    min-height: 100vh;
    overflow-x: hidden;
    margin: 0;
    font-family: 'Jost';
}

.wrapper {
    max-width: 1920px;
    margin: 0 auto;
}

.arrows {
    margin-right: 6px;
    display: flex;
    justify-content: center;
}

i {
    cursor: pointer;
    width: 24px;
    height: 48px;
    background-size: cover;
    background-position: center;
}

.arrow_right {
    background-image: url(./img/ArrowR.png);
}

.first-menu {
    display: flex;
    align-items: center;
    color: white;
}

.header-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.month-name {
    font-style: normal;
    font-weight: 500;
    font-size: 75px;
    line-height: 108px;
    text-transform: uppercase;
    margin-right: 15px;
    text-shadow: 5px 5px 25px rgba(99, 110, 114, 0.15);
}

.month-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-line {
    border: 1px solid #FFFFFF;
    width: 74px;
    height: 0px;
    margin: 0;
}

.month-number {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
}

.month-year {
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 46px;
    text-transform: uppercase;
}

.arrow_left {
    background-image: url(./img/ArrowL.png);
}

.header {
    width: 100%;
    height: 200px;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #2D3436;
}

.grey {
    background-color: #fff;
}

.d-h {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 25px;
    height: 88px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-menu {
    display: flex;
	font-family: 'PT-Root';
    font-weight: 300;
    justify-content: center;
    column-gap: 1px;
}

:root {
    --hex-side: 50px;
}

.header-profil {
    position: relative;
    width: 111px;
    height: 111px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.header-profil_hex {
    width: calc(var(--hex-side) * 1.732);
    height: var(--hex-side);
    background: white;
    position: relative;
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}

.inside_lines {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 21px;
    width: 36px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.low_menu-state::-webkit-scrollbar, .high_menu-state::-webkit-scrollbar { 
    width: 12px; 
    height: 16px; 
    background-color: #2D3436;
    border-radius: 100px;
}

.low_menu-state::-webkit-scrollbar-thumb, .high_menu-state::-webkit-scrollbar-thumb {
    background-color: #FFFFFF;
    border-radius: 100px;
}

.low_menu-state::-webkit-scrollbar-thumb:hover, 
.high_menu-state::-webkit-scrollbar-thumb:hover {
    background-color: #dddddd;
}

.inside_lines-item {
    width: 100%;
    height: 3px;
    border-radius: 2px;
    background-color: #2D3436;
}

.inside_lines-item::after, .inside_lines-item::before {
    content: '';
    position: absolute;
    right: 0;
    width: 20px;
    height: 3px;
    border-radius: 2px;
    background-color: #2D3436;
}

.inside_lines-item::after {
    bottom: 0;
}

.inside_lines-item::before {
    top: 50%;
    transform: translate(0, -50%);
}

.header-profil_hex:before, 
.header-profil_hex:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
    top: 0;
    left: 0;
    border-radius: 3px;
}

.header-profil_hex:before {
    transform: rotate(60deg);
}

.header-profil_hex:after {
    transform: rotate(-60deg);
}

.menu_today {
    cursor: pointer;
    width: 192px;
    border: none;
    outline: none;
    border-radius: 40px 0 0 40px;
}

.menu_day, .menu_number {
    width: 72px;
}

.menu_full, .menu_searching {
    width: 188px;
}

.menu_searching {
    border: none;
    outline: none;
    height: 38px;
}

.menu_searching-btn {
    width: 50px;
    background-image: url(./img/Search.png);
    background-size: 30px 30px;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    border-radius: 0 40px 40px 0;
}

.day_name {
    display: flex;
    justify-content: space-between;
    width: calc(210px * 7 + 6px);
    margin-bottom: 1px;
}

.day_name-item {
    width: 210px;
    display: flex;
    justify-content: space-between;
}

.day_name-item div {
    display: flex;
    align-items: center;
    width: 105px;
    height: 90px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 46px;
    text-transform: uppercase;
    padding: 0 8px;
}

.day_name-item:last-child .item_number {
    border-radius: 0 40px 0 0;
}

.day_name-item div:nth-child(1) {
    justify-content: flex-end;
}

.high_menu {
    display: flex;
    justify-content: center;
    border-radius: 40px;
    margin-bottom: 40px;
}

.high_menu-logo {
    width: 210px;
    height: 216px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1px;
    border-radius: 40px 0 0 40px;
}

.high_menu-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.high_menu-state {
    width: calc(212px * 7 + 4px);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 1px;
    max-height: 126px;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 0 0 40px 0;
}

.high_menu-state-item {
    width: 210px;
    height: 62px;
    cursor: pointer;
}

.low_menu-state-item, .high_menu-state-item {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.low_menu {
    position: relative;
    display: flex;
    justify-content: center;
}

.low_menu-state {
    display: flex;
    flex-wrap: wrap;
    width: calc(212px * 8 + 4px);
    justify-content: space-between;
    row-gap: 1px;
    max-height: 434px;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 40px;
    margin-bottom: 66px;
}

.low_menu-state-item {
    cursor: pointer;
    width: 210px;
    height: 62px;
}

.modal_window {
    display: flex;
    justify-content: center;
    position: absolute;
    left: -100%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 450px;
    background-color: #8F8F8F;
    transition: all 1s;
    border-radius: 10px;
    z-index: 100;
}

.modal-wrapper {
    margin-top: 20px;
    width: 83%;
}

.modal-head_div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.modal-name, .modal-number {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 30px;
}

.modal-name {
    border-radius: 3px 0 0 3px;
}

.modal-month {
    border-radius: 0 3px 3px 0;
}

.modal-month {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 120px;
}

.modal-name_div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.modal-time {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 20px;
}

.modal-head_input {
    outline: none;
    width: 163px;
    height: 16px;
}

.modal-phone_inp {
    margin-bottom: 10px;
    border: none;
    outline: none;
    width: 166px;
    height: 18px;
}

.modal-color_div {
    display: flex;
    justify-content: space-around;
    margin-bottom: 15px;
}

.modal-squere {
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.modal-textArea {
    height: 120px;
    width: 200px;
    margin-bottom: 30px;
}

.modal-btns_div {
    display: flex;
    flex-wrap: wrap;
    row-gap: 15px;
    column-gap: 10px;
}

.modal_btn {
    width: 90px;
    height: 30px;
    cursor: pointer;
}

.left_margin {
    left: 50% !important;
}

.time-item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Jost';
    color: #2D3436;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 46px;
    text-transform: uppercase;
    width: 210px;
    height: 62px;
    background-color: #FFFFFF;
}

.hard_own {
    background-color: #b4b4b4;
}

.green_back {
    background-color: #498263;
}

.blue_back {
    background-color: #1E4EC8;
}

.orange_back {
    background-color: #CF5E1E;
}

.red_back {
    background-color: #C80808;
}

.brown_back {
    background-color: #720D0D;
}

.pink_back {
    background-color: #B21BBF;
}

.blur_back {
    background-color: #1CD4A8;
}

.yellow_back {
    background-color: #CFC818;
}

.modal_calendar {
    position: absolute;
    top: -100%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 230px;
    height: 300px;
    border-radius: 3px;
    background-color: #8F8F8F;
    z-index: 20;
    transition: all 1s;
}

.top_margin {
    top: 50% !important;
}

.overlay {
    position: absolute;
    top: 0;
    left: -100000%;
    transform: translate(-50%);
    z-index: 15;
    width: 100%;
    min-height: 100vh;
    background: transparent;
}

.miniC-main {
    height: 100%;
    position: relative;
}

.miniC_name {
    text-align: center;
    margin: 0px 0 20px 0;
    padding-top: 40px;
    font-size: 20px;
    font-family: sans-serif;
}

.close {
    position: absolute;
    right: 5px;
    top: 5px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
    cursor: pointer;
    transition: all 0.5s;
}

.close:hover {
    opacity: 1;
}

.close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
}

.close:before {
    transform: rotate(45deg);
}

.close:after {
    transform: rotate(-45deg);
}

.miniC_data {
    display: flex;
    flex-wrap: wrap;
    width: calc(20px * 8 + 6px);
    row-gap: 2px;
    column-gap: 2px;
    margin: 10px auto;
}

.miniC-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid;
    background-color: white;
    cursor: pointer;
}

.miniC-day_name {
    border-radius: 3px;
    background-color: transparent;
    cursor: default;
    font-size: 14px;
}

.miniC_arrows {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 10px;
}

.miniC_leftArr {
    margin-right: 10px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.miniC_rightArr {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.previous-month, .next-month {
    opacity: 0.5;
}

@media (max-width: 1730px) {

    .high_menu-state-item, .low_menu-state-item, .time-item {
        width: 147px;
        height: 43px;
    }

    .high_menu-state {
        max-height: calc(43px * 2);
    }

    .day_name-item {
        width: 147px;
    }

    .day_name-item div {
        width: calc(147px / 2);
        height: 63px;
    }

    .day_name {
        width: calc(147px * 7 + 6px);
    }

    .high_menu-state {
        width: calc(149px * 7 + 4px);
    }

    .high_menu-logo {
        width: 147px;
        height: 150px;
    }

    .high_menu-logo-img {
        width: 117px;
        height: 117px;
    }

    .low_menu-state {
        width: calc(149px * 8 + 3px);
    }

}

@media (max-width: 1220px) {

    .high_menu-state-item, .low_menu-state-item, .time-item {
        width: 103px;
        height: 30px;
    }

    .high_menu-state {
        max-height: calc(30px * 2);
    }

    .day_name-item {
        width: 103px;
    }

    .day_name-item div {
        width: calc(103px / 2);
        height: 44px;
        font-size: 22px;
        padding: 0 4px;
    }

    .day_name {
        width: calc(103px * 7 + 6px);
    }

    .high_menu-state {
        width: calc(105px * 7 + 4px);
    }

    .high_menu-logo {
        width: 103px;
        height: 105px;
    }

    .high_menu-logo-img {
        width: 82px;
        height: 82px;
    }

    .low_menu-state {
        width: calc(105px * 8 + 3px);
        height: 304px;
    }

    .time-item {
        font-size: 22px;
    }

    .month-name {
        font-size: 53px;
    }

    .month-number {
        font-size: 17px;
        line-height: 25px;
    }

    .month-year {
        font-size: 22px;
        line-height: 32px;
    }

    .header-line {
        width: 52px;
    }

    .d-h {
        height: 62px;
        font-size: 17px;
    }

    .menu_today {
        width: 134px;
    }

    .menu_day, .menu_number {
        width: 50px;
    }

    .menu_full {
        width: 132px;
    }

    .menu_searching-btn {
        width: 35px;
    }

    :root {
        --hex-side: 35px;
    }

    .header-profil {
        width: 78px;
        height: 78px;
    }

    .inside_lines {
        width: 25px;
        height: 21px;
    }

    .inside_lines-item,
    .inside_lines-item::before,
    .inside_lines-item::after {
        border-radius: 1px;
    }

    .inside_lines-item::before,
    .inside_lines-item::after {
        width: 17px;
    }

}

@media (max-width: 870px) {

    .header {
        margin-top: 20px;
    }

    .high_menu {
        margin-bottom: 20px;
    }

    .header-wrapper {
        flex-wrap: wrap;
    }

    .low_menu-state::-webkit-scrollbar, .high_menu-state::-webkit-scrollbar { 
        width: 8px; 
        height: 10px; 
        background-color: #2D3436;
        border-radius: 60px;
    }
    
    .low_menu-state::-webkit-scrollbar-thumb, .high_menu-state::-webkit-scrollbar-thumb {
        background-color: #FFFFFF;
        border-radius: 60px;
    }

    .high_menu-state-item, .low_menu-state-item, .time-item {
        width: 62px;
        height: 18px;
    }

    .high_menu-state {
        max-height: calc(18px * 2);
        border-radius: 0 0 20px 0;
    }

    .day_name-item {
        width: 62px;
    }

    .day_name-item div {
        width: calc(62px / 2);
        height: 26px;
        font-size: 13px;
        padding: 0 3px;
    }

    .day_name {
        width: calc(62px * 7 + 6px);
    }

    .high_menu-state {
        width: calc(63px * 7 + 7px);
    }

    .day_name-item:last-child .item_number {
        border-radius: 0 20px 0 0;
    }

    .high_menu-logo {
        width: 62px;
        height: 63px;
        border-radius: 20px 0 0 20px;
    }

    .high_menu-logo-img {
        width: 49px;
        height: 49px;
    }

    .low_menu-state {
        width: calc(63px * 8 + 7px);
        height: 182px;
        border-radius: 20px;
    }

    .time-item {
        font-size: 13px;
    }

    .month-name {
        font-size: 53px;
    }

    .month-number {
        font-size: 17px;
        line-height: 25px;
    }

    .month-year {
        font-size: 22px;
        line-height: 32px;
    }

    .header-line {
        width: 52px;
    }

    .d-h {
        height: 62px;
        font-size: 17px;
    }

    .menu_today {
        width: 134px;
    }

    .menu_day, .menu_number {
        width: 50px;
    }

    .menu_full {
        width: 132px;
    }

    .menu_searching-btn {
        width: 35px;
    }

    :root {
        --hex-side: 35px;
    }

    .header-profil {
        width: 78px;
        height: 78px;
    }

    .inside_lines {
        width: 25px;
        height: 21px;
    }

    .inside_lines-item,
    .inside_lines-item::before,
    .inside_lines-item::after {
        border-radius: 1px;
    }

    .inside_lines-item::before,
    .inside_lines-item::after {
        width: 17px;
    }

}

@media (max-width: 530px) {



    .low_menu-state::-webkit-scrollbar, .high_menu-state::-webkit-scrollbar { 
        width: 4px; 
        height: 10px; 
        background-color: #2D3436;
        border-radius: 100px;
    }
    
    .low_menu-state::-webkit-scrollbar-thumb, .high_menu-state::-webkit-scrollbar-thumb {
        background-color: #FFFFFF;
        border-radius: 100px;
    }

    .high_menu-state-item, .low_menu-state-item, .time-item {
        width: 44px;
        height: 44px;
    }
    .high_menu-logo {
        width: 44px;
        height: 129px;
        border-radius: 16px 0 0 16px;
    }

    .high_menu-logo-img {
        width: 34px;
        height: 34px;
    }

    .high_menu-state {
        width: calc(45px * 7 + 3px);
        max-height: calc(42px * 2);
    }

    .day_name-item {
        flex-direction: column;
        align-items: center;
    }

    .day_name-item {
        width: 44px;
        height: 44px;
    }

    .day_name {
        width: calc(44px * 7 + 6px);
    }

    .day_name-item div {
        justify-content: center;
        align-items: center;
        padding: 0;
        width: 44px;
        height: 22px;
    }

    .day_name-item div:nth-child(1) {
        justify-content: center;
        align-items: center;
    }

    .day_name-item:last-child .item_number {
        border-radius: 0;
    }

    .day_name-item:last-child .item_name {
        border-radius: 0 16px 0 0;
    }

    .low_menu-state {
        border-radius: 16px;
        width: calc(45px * 8 + 4px);
    }

    .header-wrapper {
        /* flex-direction: row-reverse; */
    }

    .month-name {
        font-size: 32px;
    }

    .month-number {
        font-size: 18px;
    }

    .header-line {
        width: 51px;
    }

    .month-year {
        font-size: 24px;
    }

    :root {
        --hex-side: 30px;
    }

    .header-menu {
        width: 200px;
        flex-wrap: wrap;
        row-gap: 1px;
    }

    .d-h {
        height: 55px;
    }

    .menu_today {
        width: 112px;
        border-radius: 16px 0 0 0;
    }

    .menu_day, .menu_number {
        width: 42px;
    }

    .menu_number {
        border-radius: 0 16px 0 0;
    }

    .menu_searching-btn {
        width: 42px;
        border-radius: 0 0 16px 0;
    }

    .menu_full {
        width: 155px;
        border-radius: 0 0 0 16px;
    }

    .header {
        height: 250px;
    }

}

/* @media (max-width: 1360px) {


    .day_name-item {
        width: 79px;
    }
    .day_name-item div {
        width: 39px;
        height: 21px;
        font-size: 15px;
    }
    .day_name {
        width: calc(55px * 14);
    }
    .high_menu-state {
        width: calc(110px * 7 + 6px);
    }
    .low_menu-state {
        width: calc(118px * 7 + 10px);
    }
    .high_menu-state-item, .low_menu-state-item {
        width: 110px;
        height: 15px;
    }
    .header-menu {
        flex-wrap: wrap;
        row-gap: 5px;
    }
    .d-h {
        font-size: 17px;
        line-height: 18px;
        height: 29px;
    }
    .menu_today {
        width: 84px;
    }
    .menu_day, .menu_number {
        width: 52px;
    }
    .menu_full, .menu_searching {
        width: 136px;
    }
    .menu_searching {
        height: 27px;
    }
    .menu_searching-btn {
        height: 29px;
        width: 29px;
        background-size: 21px 20px;
    }

}

@media (max-width: 860px) {

    .low_menu-state-item, .high_menu-state-item {
        font-size: 12px;
    }
    .day_name-item {
        width: 31px;
    }
    .day_name-item div {
        width: 15px;
        height: 13px;
        font-weight: 400;
        font-size: 10px;
        line-height: 12px;
    }
    .day_name {
        width: calc(23px * 14);
    }
    .high_menu-state {
        width: calc(45px * 7 + 6px);
    }
    .low_menu-state {
        width: calc(53px * 7 + 5px);
    }
    .high_menu-state-item {
        width: 45px;
        height: 12px;
    }
    .low_menu-state-item {
        width: 45px;
        height: 24px;
    }
    .d-h {
        font-size: 14px;
        line-height: 15px;
        height: 24px;
    }
    .menu_today {
        width: 70px;
    }
    .menu_day, .menu_number {
        width: 43px;
    }
    .menu_full, .menu_searching {
        width: 113px;
    }
    .menu_searching {
        height: 22px;
    }
    .menu_searching-btn {
        height: 24px;
        width: 24px;
        background-size: 14px 14px;
    }

}

@media (max-width: 700px) {

    .header {
        height: 180px;
    }
    .header-menu {
        width: 333px;
        flex-wrap: wrap;
        row-gap: 5px;
    }
    .d-h {
        font-size: 19px;
        line-height: 25px;
        height: 43px;
    }
    .menu_today {
        width: 84px;
    }
    .menu_day, .menu_number {
        width: 52px;
    }
    .menu_full, .menu_searching {
        width: 136px;
    }
    .menu_searching {
        height: 41px;
    }
    .menu_searching-btn {
        height: 43px;
        width: 43px;
        background-size: 30px 30px;
        border-radius: 3px;
    }

}

@media (max-width: 450px) {

    .high_menu-right {
        margin-left: 15px;
    }
    .time-item {
        font-size: 10px;
        width: 25px;
    }
    .day_name {
        width: calc(20px * 14 + 7px);
    }
    .high_menu-state {
        width: calc(40px * 7 + 6px);
    }
    .low_menu-state {
        width: calc(45px * 7 + 12px);
    }
    .high_menu-state-item, .low_menu-state-item {
        width: 40px;
    }
    .header {
        height: 150px;
    }
    .header-menu {
        width: 190px;
        flex-wrap: wrap;
        row-gap: 5px;
    }
    .d-h {
        font-size: 17px;
        line-height: 18px;
        height: 29px;
    }
    .menu_today {
        width: 84px;
    }
    .menu_day, .menu_number {
        width: 52px;
    }
    .menu_full, .menu_searching {
        width: 136px;
    }
    .menu_searching {
        height: 27px;
    }
    .menu_searching-btn {
        height: 29px;
        width: 29px;
        background-size: 18px 18px;
    }

}

@media (max-width: 350px) {

    .low_menu-state-item, .high_menu-state-item {
        font-size: 10px;
    }
    .high_menu-right {
        margin-left: 0;
    }
    .time-item {
        font-size: 10px;
        width: 25px;
    }
    .low_menu-state {
        width: calc(35px * 7 + 12px);
    }
    .low_menu-state-item {
        width: 30px;
    }

} */

