:root {
    --body-background: #4A9691;
    --body-color: #2D3436;
    --body-color-second: #FFF;

    --alert-red-color: #FF9898;
    --alert-green-color: #318F75 ;

    --cell-background: #FFF;
    --cell-border: #2D3436; 

    --input-background: #FFF;
    --input-border: #000;
    --input-color: #000;

    --scroll: #FFF;
    --scroll-background: #2D3436;

    --social-yandex-color: #FF0200;
    --social-vk-color: #4680C2;
}